@model IEnumerable<MyRental.ViewModels.CustomerVM>

@{
    ViewBag.Title = "Index";
}

<h2>Customers</h2>

<p>
    @Html.ActionLink("STEP 1 - New Customer", "Create", null, new { @class = "btn btn-default btn-xs" })
    @Html.ActionLink("STEP 2 - Book a CAR", "Create", "Reservations",  null, new { @class = "btn btn-default btn-xs" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new {sortBy = ViewBag.NameSort})
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SSN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Town)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SSN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Town)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CustomerID }, new { @class = "btn btn-warning btn-xs" })
            @Html.ActionLink("Details", "Details", new { id = item.CustomerID }, new { @class = "btn btn-info btn-xs" })
            @Html.ActionLink("Delete", "Delete", new { id = item.CustomerID }, new { @class = "btn btn-danger btn-xs" })
        </td>
    </tr>
}

</table>
